@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: "Source Sans Pro" !important;
    margin: 15px;
}

.flex-container {
    display: flex;
    width: 400px;
    margin-top: 15px;
}

.flex-child {
    flex: 1;
    margin: auto;
}

.flex-child:first-child {
    margin-right: 20px;
}

.flex-child select,
.flex-child input {
    width: 250px;
}

.flex-child label {
    margin: auto;
}